h1 {
	display: inline-block;
	color: rgb(50, 50, 50);
}

footer, h1{
	padding: 0px 15px 0px 15px;
}

h1 a {
	text-decoration: none;
	color: rgb(50, 50, 50);
}

/****************
NAVIGATION
****************/

nav.topbar {
    float: right;
    display: inline-block;
    padding-top: 20px;
    padding-right: 30px;
}

nav.botbar {
	float: left;
    display: inline-block;
    padding: 5px;
}

ul.menu,
ul.menu2 {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ul.menu li,
ul.menu2 li{
	display: inline-block;
	font-size: 18px;
}

li a {
	display: block;
	text-align: center;
	width: 100px;
	padding: 10px;
	text-decoration: none;
	color: rgb(50, 50, 50);
	transition: all 800ms ease;
}

nav.topbar a:hover {
    background-color: lightgray; 
    color: black; 
}

nav.botbar {
	background-color: rgb(250, 250, 250);
	color: black;
}


/***************
BODY
***************/

body {
	width: 70%;
	margin: 0 auto;
	font-family: 'Muli', sans-serif;
	color: rgb(50, 50, 50);
	background: url(../img/playstation-pattern.png);
}

main {
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 20px;
	background-color: white;
	min-height: 700px;
}

div.container img {
	width: 96%
	margin: 1%;
/*	padding-top: 20px;*/
}

div.container {
	padding: 5px;
	font-size: 18px;
}

.backtotop {
	opacity: 0.5;
	position: fixed;
	right: 30px;
	bottom: 50px;
	transition: all 100ms ease;
}

.backtotop:hover{
	opacity: 1;
}


/**************************
SEARCH BAR
**************************/
.search img {
	position: fixed;
	right: 2%;
	top: 5%;
	opacity: 0.7;
}

.search img:hover {
	opacity: 1;
}






/**************************
IMGS & TITLES


.view {
	cursor: default;
	text-align: center;
	position: relative;
	margin-bottom: 30px;
}

.view a {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right:0;
	background-color: rgba(0,0,0,0.7);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-decoration: none;
}

.view img {
	display: block;
	position: relative;
}

.view h2 {
	color: white;
	font-size: 36px;
}

.view p {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right:0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}




HOVER
*******************************/


.view img {
	transition: all 0.2s ease-in-out;
}

.view a {
	transition: all 300ms linear;
	opacity: 1;
}

.view h2 {
	color: white;
	transition: all 600ms linear;
	opacity: 1;
}

.view p {
	color: black;
	font-size: 24px;
	opacity: 0;
	transition: all 300ms linear;
}

.view:hover img {
	opacity: 0.5;
}

.view:hover a {
	opacity: 0;
}

.view:hover p {
	opacity: 1;
}

.view:hover h2,
.view:hover a {
	opacity: 0;
}



/*********************
FOOTER
*********************/

footer {
	float: right;
}

.clear {
	clear: both;
	height: 0;
}


/* =============================================================================
   Page Styles
   ========================================================================== */

   .view{
   	cursor: default;
   	overflow: hidden;
   	text-align: center;
   	position: relative;
   	margin-bottom: 30px;
   	box-shadow: 0 0 10px #ddd;
   }

   .view .mask {
   	width: 100%;
   	height: 100%;
   	position: absolute;
   	overflow: hidden;
   	top: 0;
   	left:0;
   	background-color: rgba(0,0,0,0.5);
   }

   .view img {
   	display: block;
   	position: relative;
   }

   .view h2 {
   	text-transform: uppercase;
   	color: #FFF;
   	font-size: 22px;
   	padding: 10px;
   	background-color: rgba(0, 0, 0, 0.8);
   	margin: 20px 0 0 0;
   	text-shadow: none;
   	position: relative;
   }

   .view p {
   	/*font-family: Georgia, serif;
   	font-style: italic;*/
   	font-size: 15px;
   	color:rgb(210, 210, 210);
   	padding: 10px 20px 5px 20px;
   	position: relative;
   }

   .view a.info {
   	color:#FFF;
   	background-color: rgb(50, 50, 50);
   	padding: 10px 20px;
   	text-decoration: none;
   	margin-top: 10px;
   	text-transform: uppercase;
   	border-radius: 10px;
   	position: relative;
   }

   .view a.info:hover {
   	background-color: rgba(80, 80, 80, 80);
   }


   /*******************************
		CSS3 Hover Styles
   *******************************/


   .view img {
   	 left: 10px;
   	 margin-left: -10px;
   	 transition: all 0.4s ease-in-out;
   }

   .view .mask {
   	transition: all 0.3s linear;
   	opacity: 0;
   }

   .view h2 {
   	 color: white;
   	 background-color: transparent;
   	 border-bottom: 1px solid silver;
   	 transform: scale(0);
   	 transition: all 0.3s linear;
   	 opacity: 0;
   }

   .view p,
   .view a.info {
   	transform: scale(0);
   	opacity: 0;
   	transition: all 0.3s linear;
   }

   /* zoom and rotate the image on hover*/
   .view:hover img {
   	transform: scale(2) rotate(10deg);
   	opacity: 0.3;
   }

   /* show mask div on hover*/

   .view:hover .mask {
   	opacity: 1;
   }

   /*scale from 0 to 2, and up the opacity from 0 to 1*/

   .view:hover h2,
   .view:hover p,
   .view:hover a.info {
   	transform: scale(1);
   	opacity: 1;
   }




















/*******************
MEDIA QUERIES
*******************/

/* Tablet Portrait size to Base 996px */
@media only screen and (min-width: 768px) and (max-width: 995px) {
	body {
		width: 80%;
	}

	main {
		padding: 10px;
	}
	
	.view h2 {
		font-size: 22px;
	}

}

/* All Mobile Sizes */
@media only screen and (max-width: 767px) {
	body {
		width: 85%;
	}
	
	ul.menu li {
		font-size: 12px;
	}

	.view h2 {
		font-size: 18px;
	}


}